PC-LRMate/PC-LRMate.suo
PC-LRMate/PC-LRMate.suo
PC-LRMate/PC-LRMate/bin/Release/PC-LRMate.exe
PC-LRMate/PC-LRMate/bin/Release/PC-LRMate.pdb
PC-LRMate/PC-LRMate/MDIParent.resx
PC-LRMate/PC-LRMate/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
PC-LRMate/PC-LRMate/obj/x86/Release/PC_LRMate.MDIParent.resources
PC-LRMate/PC-LRMate/obj/x86/Release/PC-LRMate.csproj.GenerateResource.Cache
PC-LRMate/PC-LRMate/obj/x86/Release/PC-LRMate.exe
PC-LRMate/PC-LRMate/obj/x86/Release/PC-LRMate.pdb
PC-LRMate/PC-LRMate/PC-LRMate.csproj
PC-LRMate/PC-LRMate-Setup/PC-LRMate-Setup.vdproj
PC-LRMate/PC-LRMate-Setup/Release/PC-LRMate-Setup.msi
